*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Oxanium",arial;
    background-color: #000000;
    color: #fff;
}

body::before{
    content: "";
    background-image: url(../imagens/bg-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.5;
}

.cabecalho{
    display: flex;
    justify-content: center;/*justificar o conteudo no centro quando por padrão já é usado o row*/
}

.selecao-de-personagens{
    display: flex;
    align-items: center;/*tipo de alinhamento verticalmente diferente do justify-content que é alinhamento horizontal*/
    gap:30px;
    min-height: calc(100vh - 152px);
    justify-content: center ;
}

.selecao-de-personagens .lista-de-personagens{
    display: flex;
    flex-wrap: wrap;/*ele quebra o elemento caso ele não der dentro onde esta envolvido*/
    gap: 30px;
    justify-content: center;
}

.selecao-de-personagens .personagens{
    display: flex;/*notamos que ele é row então temos que tirar o padrão row com o codigo abaixo para column*/
    flex-direction: column;
    align-items: center;/*agora pode ser usuado esse alinhamento*/
    max-width: 585px;
    gap: 25px;/*vai dar um espaçamento entre o titulo e a lista*/
}

.selecao-de-personagens .personagens .titulo{
    font-size: 20px;
    letter-spacing: 4px;
    text-transform: uppercase;
    border-bottom: 2px solid #47f4ff;
    width: 100%;/*indicando para ocupar toda a região que está em seu tamanho assim a linha de baixo pega tudo*/
    text-align: center;
}

.lista-de-personagens .personagem img{
    width: 100%;
    height: 100%;
    /*evita que as imagens fiquem desfocadas*/
}

.lista-de-personagens .personagem.selecionado{
    /*onde tem personagem.selecionado são duas classes iguais então deve ficar juntas a exemplo no html: "personagem selecionado" esse codigo é apenas para testar o efeito como ficaria no javascript então foi feito sem javascript*/
    box-shadow: 0px 0px 24px 5px #0271f7;
}

.personagem-selecionado{
    text-align: center;
    max-height: 530px;/*altura maxima da imagem não ficar pulando entao todas vao ser padrão*/
    max-width: 500px;
}

.personagem-selecionado .personagem-grande{
    width: 430px;
    height: 430px;
}

.personagem-selecionado .nome-personagem{
    border-bottom: 2px solid #47f4ff;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.personagem-selecionado .descricao-personagem{
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    margin-top: 20px;
    width: 420px;
}